[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"beautifulsoup4" = "*"
"bs4" = "*"
certifi = "*"
chardet = "*"
django = "*"
"flake8" = "*"
idna = "*"
lxml = "*"
mccabe = "*"
mysqlclient = "*"
nltk = "*"
numpy = "*"
pew = "*"
pipenv = "*"
psutil = "*"
pycodestyle = "*"
pyflakes = "*"
pytz = "*"
requests = "*"
"urllib3" = "*"
virtualenv = "*"
virtualenv-clone = "*"
gunicorn = "*"


[dev-packages]

