beautifulsoup4
bs4
certifi
chardet
dj-database-url
Django
flake8
gunicorn
idna
lxml
mccabe
mysqlclient
nltk
numpy
pew
pipenv
psutil
pycodestyle
pyflakes
pytz
requests
six
urllib3
virtualenv
virtualenv-clone
psycopg2
