<html lang="en">
<head>

<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="static/css/style.css" type="text/css" media="all" />
<!--// css -->

<!-- font-awesome icons -->
<link href="static/css/font-awesome.css" rel="stylesheet">
<script src="static/js/bootstrap.js"></script>
<!-- menu -->
<link rel="stylesheet" href="static/css/main.css">


</head>
<body>
	<div class="banner1"><div class="logo"><img src="static/images/sb.png"/></div></div>
	<div class="banner" id="home">
		<!-- menu -->
			
<div class="container" style="padding-top: 70px">
			<div class="agile-logo">
				<h1><a href="#">Team Dark Night<span>Developers</span></a></h1>
			</div>
		<div class="cross"><a href="\"> <img src="static/images/cancel.png"></a></div>
			<div class="w3l-banner-grids">
				<div class="col-md-8 w3ls-banner-right">
					<div class="banner-right-img">
						<img src="static/images/agrima.jpg" alt="" />
					</div>
					<div class="banner-right-info">
						<h2>Hello! I am Agrima Soni, student of BML Munjal University Batch-2015.</h2>
						<!--<p>Donec dolor felis, consectetur eget massa non, mattis euismod est. Nam augue neque, hendrerit nec scelerisque non, ultrices at ligula. Praesent posuere, turpis eget lobortis elementum, ex ante ultricies ligula, sit amet varius lacus dui in magna. Aliquam erat volutpat. Nulla condimentum, enim vitae congue ultrices, nibh erat efficitur sem, vel iaculis lectus eros in turpis. Aliquam venenatis cursus suscipit.</p>-->
					</div>
					<div class="clearfix"> </div>
					
				</div>
				<div class="col-md-4 w3ls-banner-left">
					<div class="w3ls-banner-left-info">
						<h4>Title</h4>
						<p>Web Designer</p>
					</div>
					<div class="w3ls-banner-left-info">
						<h4>Name</h4>
						<p>Agrima Soni</p>
					</div>
					<div class="w3ls-banner-left-info">
						<h4>Enrollment Number</h4>
						<p>15B00325</p>
					</div>
					<div class="w3ls-banner-left-info">
						<h4>Batch</h4>
						<p>B-Tech (CSC-2015)</p>
					</div>
					<div class="w3ls-banner-left-info">
						<h4>Email Address</h4>
						<p><a href="mailto:example@email.com">agrima.soni.15csc@bml.edu.in</a></p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

</body>	
</html>