<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>StreamBeats Login</title>
  <script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="static/css/style1.css">
  <link rel="stylesheet" href="static/css/homecss.css">

<style>
    #fdfdgds a:hover,a:focus{
    background-color: #3AA3E4;
}
</style>

</head>
  <div class="banner">
        <div class="logo"><img src="static/images/sb.png"/></div>
  </div>

<div class="w3-sidebar w3-bar-block w3-black w3-xxlarge" style="width:70px; margin-top:70px">
  <a href="/abhya" class="w3-bar-item w3-button" id="img-circle" style="height: 60px; margin-top: 15px"><img src="static/images/abhya.jpg"/></a>
  <a href="/agrima" class="w3-bar-item w3-button" id="img-circle" style="height: 60px"><img src="static/images/agrima.jpg"/></a>
  <a href="/hitesh" class="w3-bar-item w3-button" id="img-circle" style="height: 60px"><img src="static/images/hitesh.jpg"/></a>
  <a href="/naman" class="w3-bar-item w3-button" id="img-circle" style="height: 60px"><img src="static/images/naman.JPG"/></a>
  <a href="/nishit" class="w3-bar-item w3-button" id="img-circle" style="height: 60px"><img src="static/images/nishit.png"/></a>
  <a href="/piyush" class="w3-bar-item w3-button" id="img-circle" style="height: 60px"><img src="static/images/piyush.jpg"/></a>
  <a href="/praman" class="w3-bar-item w3-button" id="img-circle" style="height: 60px"><img src="static/images/naman.JPG"/></a>
  <a href="/prashant" class="w3-bar-item w3-button" id="img-circle" style="height: 60px"><img src="static/images/prashant.jpg"/></a>
  <a href="/shivani" class="w3-bar-item w3-button" id="img-circle" style="height: 60px"><img src="static/images/shivani.jpg"/></a>
  <a href="/about" class="w3-bar-item w3-button" id="img-circle" style="height: 60px"><img src="static/images/sb3.png"/></a>

</div>

  <div class="login">

  <header class="header">
    
    <span class="text">Login</span>
    <span class="loader"></span>

  </header>
  <form class="form">  
    <a class="google" href="#">Google+</a>
  </form>
</div>

</body>
</html>
