<!DOCTYPE html>
from django.template import Library
register = Library()
<html>

<head>
	<title>Stream Beats</title>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kalam|Roboto+Condensed" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" type="text/css" href="static/css/search.css">
</head>


<body background-color="#FEFEFE">
	<div class="banner">


<div style="float:left;">
  <button class="w3-button w3-xxlarge" onclick="w3_open()" >&#9776;</button>
	</div>

	      <div class="logo"><img src="static/images/sb.png"></div>
	      <!-- <div class="search"><img src="images/search.png"></div> -->
	      <div class="wrap">
   			<div class="search">
      <form action="/search" method="post">
                    {% csrf_token %}
      <input type="text" class="searchTerm" name="query" placeholder="What are you looking for?">

                    <button type="submit" class="searchButton">
                        <a href="/search"><i class="fa fa-search" aria-hidden="true" style="color:#3AA3E4"></i><</a>
                    </button>
          </form>
   </div>
</div>
	      <div class="welcome"><h3>Welcome Frank</h3></div>
	      <div class="img-circle"><img src="static/images/profile.png"></div>
</div>



	<div class="w3-sidebar w3-bar-block left" style="display:visible;z-index:5" id="mySidebar">


	<div class="banner">
	<div style="float:left;">
  <button class="w3-button w3-xxlarge" onclick="w3_close()" >&#9776;</button>
	</div>

	      <div class="logo"><img src="static/images/sb.png"></div>
	      <!-- <div class="search"><img src="images/search.png"></div> -->
	      <div class="wrap">
   			<div class="search">
      <form action="/search" method="post">
                    {% csrf_token %}
      <input type="text" class="searchTerm" name="query" placeholder="What are you looking for?">

                    <button type="submit" class="searchButton">
                        <a href="/search"><i class="fa fa-search" aria-hidden="true" style="color:#3AA3E4"></i><</a>
                    </button>
	  </form>
   </div>
</div>
	      <div class="welcome" style="text-align:right"><h3>Welcome Frank</h3></div>
	      <div class="img-circle"><img src="static/images/profile.png"></div>
	</div>


	<div class="menu">

		<ul>
	  		<li><a href="/home" class="w3-bar-item w3-button">Home</a></li>
	 		<li><a href="/channel" class="w3-bar-item w3-button">My Channel</a></li>
	  		<li><a href="#liked" class="w3-bar-item w3-button">Liked</a></li>
		</ul>
		<hr class="ab">
		<ul>
	  		<li><a href="/bollywood" class="w3-bar-item w3-button">Bollywood</a></li>
	  		<li><a href="/punjabi" class="w3-bar-item w3-button">Punjabi</a></li>
	  		<li><a href="/hollywood" class="w3-bar-item w3-button">Hollywood</a></li>
			<li><a href="/about" class="w3-bar-item w3-button">About</a></li>
		</ul>
	</div>
	</div>




	<div class="container" style="overflow-y:auto">
        <div id="main">
	<div class="home">
 			<div class="sr">Search Results</div>
        </div>
	</div>
	<div>

        <div class="searchresults">
{% for i,j,k in image %}

            <form action="/videoviewing" method="post">
                {% csrf_token %}
             <div class="row" style="padding : 100px">
                 <button type="submit">
            <div class="video"><img src={{i}}></div></button>
            <div class="descr">
            <p class="sname" id={{j}}>
                {{j}}
                <input type="hidden" value="{{j}}" name="abc"></p>
            <p class="aname">{{k}} Views</p>
            </div>

        </div>
            </form>

{% endfor %}

        </div>


	</div>
	</div>

<script>
function w3_open() {
    document.getElementById("main").style.marginLeft = "0%";
    document.getElementById("mySidebar").style.width = "15%";
    document.getElementById("mySidebar").style.display = "block";

}
function w3_close() {
    document.getElementById("main").style.marginLeft = "-15%";
    document.getElementById("mySidebar").style.display = "none";

}
</script>


</body>
</html>