<!DOCTYPE html>
<html>
<head>
	<title>Upload Your Video</title>
	<link rel="stylesheet" href="static/css/style3.css">
		<link href="https://fonts.googleapis.com/css?family=Kalam|Roboto+Condensed" rel="stylesheet">

		
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>	
</head>

<body>
<div class="agile-its">
	<h2>Upload video</h2>
	<form action="/channel" method="POST">
        {% csrf_token %}
  Song name   : <input type="text" name="songname" maxlength="30"><br><br>
  Artist name : <input type="text" name="artistname" maxlength="30"><br><br>
  Description : <input type="text" name="description" maxlength="1000"><br><br>
  Duration    : <input type="text" name="duration"><br><br>
  Category    : <input type="radio" name="category" value="Bollywood">Bollywood  <input type="radio" name="category" value="Punjabi">Punjabi  <input type="radio" name="category" value="Hollywood"> Hollywood<br><br>
  Genre       : <input type="radio" name="genre" value="Rock">Rock  <input type="radio" name="genre" value="pop">Pop <input type="radio" name="genre" value="edm">EDM <input type="radio" name="genre" value="blues">Blues <br>&emsp;&emsp;&emsp;&ensp;<input type="radio" name="genre" value="classical">Classical&emsp;&emsp;&emsp;&emsp; <input type="radio" name="genre" value="hiphop">Hip Hop <br>&emsp;&emsp;&emsp;&ensp;<input type="radio" name="genre" value="rap">Rap &emsp;&emsp;&emsp;<input type="radio" name="genre" value="rnb">Rhythm n Blues

		<div class="w3layouts">
		<div class="photos-upload-view">
				<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
					<div class="agileinfo">
					<input type="submit" class="choose" value="BROWSE">
					<h3>OR</h3>
						<input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
						<div id="filedrag">Drag n drop video here</div>
					</div>

			<div id="messages">
				<p>Video will be uploaded here</p>
			</div>
		</div>
		<div class="clearfix"></div>
		<script src="static/js/filedrag.js"></script>
		</div>
        Image_url : <input type="text" name="image_url" maxlength="30"><br><br>
        Video_url : <input type="text" name="video_url" maxlength="30"><br><br>
		<input type="submit" class="choose" value="SUBMIT" style="bgcolor:#3AA3E4"><br>
		</form>
</div>
<script type="text/javascript" src="static/js/jquery.min.js"></script>

</div>
</body>
</html>