@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.container{
  overflow-y: auto;
  position: fixed;
  left: 0;
  overflow: hidden;
  top: 70px;
}


.menu {
  background-color: #e8e8e8;
  overflow-y: auto;
  position: fixed;
  height: 100%;
  left: 0;
  float: left;
  top: 70px;
  display: inline-block;
  text-align: center;
  width: 15%;
}

#trending{
  text-align: left;
  margin: 10px;
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family: 'Kalam', cursive;
}


#new{
  text-align: left;
  margin: 10px;
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family: 'Kalam', cursive;
}

#genre{
  text-align: left;
  margin: 10px;
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family: 'Kalam', cursive;
}



.home{
  background-color: #FFFFFF;
  height: 100%;
  width: 85%;
  display: inline-block;
  float: right;
  right: 0;
  overflow-y: auto;
  position: inherit;
  text-align: center;
  top: 70px;
}


.banner{
  width: 100%;
  /*overflow-y: auto;*/
  position: fixed;
    display: inline-block;
  background: #3AA3E4;
  height: 70px;
  left: 0;
  top: 0;
  text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.logo{   
  float: left;
  margin-left: 2px;
  margin-bottom: 2px;
  margin-top:2px;   
  height:66px; }

/*.search{
  display: inline-block;
  vertical-align: middle;
}
*/
.menu ul li a {
 display:block;
}

.menu ul li:hover, ul li a:focus {
 background-color: #3AA3E4;

}


.menu ul li a:hover, ul li a:focus {
 color: #ffffff  ;
}


.img-circle {
    /*border-radius: 50%;*/
    height: 40px;
    display: inline-block;
    margin: 15px;
    float: right;
    width: auto;
}

.img-circle img{
  border-radius: 50%;
  vertical-align: middle;
}


.welcome{
  display: inline-block;
  padding-left: 50px;
  margin-left: 50px;
  text-align: right;
  font-family: 'Kalam', cursive;
  color: #ffffff;
}


.trending{
  height: 200px;
  background: #ffffff;
  width: auto;
  margin: 10px;
  overflow-y:hidden;
  white-space: nowrap;
}


.genre{
  height: 170px;
  background: #ffffff;
  width: auto;
  margin: 10px;
  overflow-y:hidden;
  white-space: nowrap;
}

.new{
  height: 200px;
  background: #ffffff;
  width: auto;
  margin: 10px;
  overflow-y:hidden;
  white-space: nowrap;
  padding-bottom: 70px;
}

.genre .item{
  width: 130px;
  background: #3AA3E4;
  height: 130px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.item{
  width: 130px;
  /*background: #3AA3E4;*/
  height: 165px;
  margin-right: 10px;
  box-shadow: 0 2px 5px 2px rgba(19, 35, 47, 0.2);
  margin-top: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  display: inline-block;
}

.item img{
  width: 130px;
  height: 130px;
}


.item-name{
  width: 130px;
  z-index: 130px;
  background: #ffffff;
    font-family: 'Kalam', cursive;
  line-height: 15px;
  font-weight: 600;
  margin-left: 5px;
    font-size: 12px;
    text-align: left;

}

.item-album{
  font-weight: bold;
  width: 130px;
    font-family: 'Kalam', cursive;
  z-index: 130px;
  background: #ffffff;
  line-height: 15px;
  text-align: left;
    font-size: 10px;
    margin-left: 5px;

}


.item img{
  height: 130px;
  width: 130px;
}


li {
  font-size: 16px;
  font-weight: "bold";
  text-align: left;
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family: 'Kalam', cursive;
  padding: 10px;
  text-decoration: none;
}

a{
    text-decoration: none;
    color: #4B5255;
}

ul {
  padding: 0;
  list-style: none;
}

hr { 
  background-color: #a5a4a5;
   height: 1px;
    border: 0;
    margin-left: 15px;
    margin-right: 15px;
    }




.search {
  width: 100%;
    vertical-align: middle;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #4B5255;
  padding: 5px;
  height: 20px;
  /*border-radius: 5px;*/
  outline: none;
  color: #4B5255;
}

.searchTerm:focus{
  color: #4B5255;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  margin-left: 2px;
  border: 1px solid #4B5255;
  background: #4B5255;
  text-align: center;
  color: #fff;
  /*border-radius: 5px;*/
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    /*float: left;*/
  margin-left: 2px;
  margin-bottom: 2px;
  margin-top:2px;   
  /*height:66px;*/
    display: inline-block;
    vertical-align: middle;
  width: 30%;
}


    .circle-img{
    height: 60px;
    margin: 15px;
    float: left;
    width: auto;
    }


    .circle-img img{
  border-radius: 50%;
  vertical-align: middle;
}


.home{
  background-color: #FFFFFF;
  height: 80px;
  width: 85%;
  display: inline-block;
  float: right;
  right: 0;
  position: inherit;
  text-align: center;
  top: 70px;
}

.homed{
  background-color: #FFFFFF;
  height: 70px;
  width: 85%;
  float: right;
  right: 0;
  position: inherit;
  text-align: left;
  top: 150px;
}

.homede{
  background-color: #FFFFFF;
  height: 80px;
  width: 85%;
  float: right;
  right: 0;
  position: inherit;
  top: 220px;
}


.videosuper{
  background-color: #FFFFFF;
  height: 80px;
  width: 85%;
  float: right;
  right: 0;
  position: inherit;
  display: inline-block;
  text-align: left;
  top: 300px;
}


.video{
    height: 140px;
    margin: 15px;
    float: left;
    width: auto;
      display: inline-block;

    /*top: 300px;*/
  vertical-align: middle;
  text-align: left;
}
.videosuper1{
  background-color: #FFFFFF;
  height: 80px;
  width: 85%;
  float: right;
  right: 0;
  position: inherit;
  display: inline-block;
  text-align: left;
  top: 450px;
}


.video1{
    height: 140px;
    margin: 15px;
    float: left;
    width: auto;
      display: inline-block;

    /*top: 300px;*/
  vertical-align: middle;
  text-align: left;
}
.videosuper2{
  background-color: #FFFFFF;
  height: 80px;
  width: 85%;
  float: right;
  right: 0;
  position: inherit;
  display: inline-block;
  text-align: left;
  top: 500px;
}

#top{
  float: centre;
  height: 40%;
  font-family: 'Kalam', cursive;
  
}
#subhead
{
  float: centre;
  height: 40%;
  font-family: 'Kalam', cursive;
  
}
#descrip{
  font-family: 'Kalam', cursive;
    float: left;

}


#name{
  float: left;
  font-family: 'Kalam', cursive;
}
.video2{
    height: 140px;
    margin: 15px;
    float: left;
    width: auto;
      display: inline-block;

    /*top: 300px;*/
  vertical-align: middle;
  text-align: left;
}

