/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}
body{
	background:#FFFFFF;
}

.cross{
  float: right;
}
/*-- banner --*/
.banner{
	background: url(../images/naman-background.jpeg) no-repeat 0px 0;
    background-size: cover;
    padding: 1em 0 5em;
}
.logo{   
  float: left;
  margin-left: 2px;
  margin-bottom: 2px;
  margin-top:2px;   
  height:66px; 
}
img {
    max-width: 100%;
    max-height: 100%;
}
.banner1{
  width: 100%;
  /*overflow-y: auto;*/
  position: fixed;
    display: inline-block;
  background: #3AA3E4;
  height: 70px;
  left: 0;
  top: 0;
  text-align: center;
}
.agile-logo {
    width: 30%
}
.agile-logo h1{
	margin:0;
}
.agile-logo h1 a{
    color: #FFFfff;
    font-size: .4em;
    letter-spacing: 12px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
}
.agile-logo h1 a span{
    display: block;
    font-size: 2em !important;
    font-weight: 700;
    letter-spacing: 6px;
}
.w3l-banner-grids {
    margin: 4em 0 0 0;
    padding: 2em 1em;
    background: rgba(255, 255, 255, 0.18);
}
.w3ls-banner-right {
    float: right;
}
.w3ls-banner-left {
    float: left;
}
.w3ls-banner-left-info {
    padding: 1em 0;
    border-bottom: 1px dashed #fff;
}
.w3ls-banner-left-info h4,.social-info h4{
    font-size: 1.2em;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.w3ls-banner-left-info p{
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
}
.w3ls-banner-left-info p a{
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
	text-decoration:none;
}
.w3ls-banner-left-info p a:hover{
	color:#FF9800;
}
.w3ls-banner-left-info:nth-child(5){
	border:none;
}
.banner-right-img{
    float: left;
    width: 30%;
}
.banner-right-img img{
    width: 100%;
    border: solid 8px #ffffff;
}
.banner-right-info{
    float: right;
    width: 65%;
}
.banner-right-info h2{
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    line-height: 1.5em;
}
.banner-right-info p{
	color:#cecece;
	font-size:.9em;
	margin:1em 0 0 0;
	line-height:1.8em;
}
.w3-button {
    margin: 3em 0 0 0;
}
.w3-button-info {
    line-height: inherit !important;
}
.w3-button a{
    padding: .5em 2em;
    color: #ffffff !important;
    text-transform: uppercase;
    background: #FF9800;
    font-weight: 700 !important;
    text-decoration: none !important;
    line-height: initial !important;
    font-size: .9em !important;
    margin: 0 !important;
}
.w3-button a:focus{
	outline:none;
}

.w3_tab_img_left h3 {
    font-size: 1.5em;
    color: #fff;
    margin: 0 0 .5em;
}
.w3_tab_img_left p{
	color:#fff;
	line-height:2em;
}
.w3_tab_img_left {
    margin: 2em 0 0;
}
